{% block content %}
{% include "header.html" %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="static/assets/images/contact.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">03 : Contact Me</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form action="" class="reveal-content">
              <div class="row">
                <div class="col-md-5 address-container">
                  <ul class="list-unstyled">
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                      510-415-8251
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                      </span>
                      jaynielsing@yahoo.com
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                      Hayward, California
                    </li>
                  </ul>
                  <h3>Follow me on social networks:</h3>
                  <a href="https://github.com/jaynielsingh" title="" class="fa-icon">
                    <i class="fa fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/jayniel-singh-3a169697/" title="" class="fa-icon">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script type="text/javascript" src="static/main.70a66962.js"></script>
</body>

{% endblock %}