{% block content %}
{% include "header.html" %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="static/assets/images/projects.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">01 : Projects</h1>
            <h3>
              Collection Of My Recent Projects.
            </h3>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 section-container-spacer">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img src="static/assets/images/flask-pic.jpg" class="img-responsive" alt="">
              <a href="https://jayniel-blog.herokuapp.com""><button class=" glow-on-hover">00: Blog-Flask</button>
            </div>
            <div class=" row">
              <div class=" col-xs-12 col-md-6">
                <img src="static/assets/images/cv-pic.jpg" class="img-responsive" alt="">
                <a href="https://jayniel-cv.herokuapp.com"><button class="glow-on-hover">01: Online CV</button>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" col-xs-12 col-md-6">
              <img src="static/assets/images/weather-app.jpg" class="img-responsive" alt="">
              <a href="https://jayniel-weather-pro.herokuapp.com"><button class="glow-on-hover">02: Weather Pro</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include "footer.html" %}

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="static/main.70a66962.js"></script>
  </body>

  {% endblock %}